:root {
  color-scheme: light;
  background-color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  width: 340px;
  height: auto;
  background-color: #ffffff;
  overflow: hidden;
}

#root {
  width: 100%;
  height: auto;
}
